import spock.lang.*
import com.test.t.*
import com.test.t3.Scores

class JavaSpec extends Specification {
 #foreach ($method in ${methods}) ${newline}
 //"${method.get("type")}" type
 @Scores(points=${method.get("score")}f)
 //@Unroll
 def "${method.get("methodName")}"() {
    setup:
            ${method.get("className")} ob = new ${method.get("className")}();
    expect:
      #if(${method.get("numPara")} == 1)
      ob.${method.get("methodName")}(a) == c
      #elseif(${method.get("numPara")} == 2)
      ob.${method.get("methodName")}(a,b) == c
      #elseif(${method.get("numPara")} == 3)
      ob.${method.get("methodName")}(a,b,c) == d
      #elseif(${method.get("numPara")} == 4)
      ob.${method.get("methodName")}(a,b,c,d) == e
      #elseif(${method.get("numPara")} == 5)
      ob.${method.get("methodName")}(a,b,c,d,e) == f
      #end
       
    where:
      #if(${method.get("numPara")} == 1)
        a || c
      #elseif(${method.get("numPara")} == 2)
        a | b || c
      #elseif(${method.get("numPara")} == 3)
        a | b | c || d
      #elseif(${method.get("numPara")} == 4)
        a | b | c | d || e
      #elseif(${method.get("numPara")} == 5)
        a | b | c | d | e || f  
      #end
   	  #foreach($item in ${method.get("result")})#foreach($num in ${item[0]})#if(${num.getClass().getName().toString()} == "java.lang.String")"${num}"#else${num}#end#if($foreach.hasNext)| #end#end|| #if(${method.get("parReturn")} == "String")"${item[1]}"#elseif(${method.get("parReturn")} != "String")(${method.get("parReturn")})${item[1]}#else${item[1]}#end${newline}              #end       
   	     
  }
#end
 
 
}